<div id="footer">
	
	<div class="content-inner">
		
		<div class="contact-info">
			<h2>Contact Information</h2>
			<ul>
				<li>Phone: 07 6969 6969</li>
				<li>Email: <a href="#">hello@saphora.com</a></li>
				<li>Twitter: <a href="#">@saphoracycler</a></li>
				<li>Facebook: <a href="#">Saphora Cycler</a></li>
			</ul>
		</div>
		
		<div class="store-info">
			<h2>Store Info</h2>
			<ul>
				{% for link in linklists.footer.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
		
	</div>
	
</div>