/*  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			MOBILE STYLES
		++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media only screen and (min-device-width : 320px) and (max-device-width : 569px) {

	.header {
		height: auto;
		padding: 20pt 0;
		.content-inner { 
			width: 100%;
			h1, ul.navigation, .cart {
				position: relative !important;
				top: auto !important;
				left: auto !important;
				right: auto !important;
			}
			h1 { margin: 0 0 20pt 20pt; }
			ul.navigation { margin-bottom: 20pt; }
			ul.navigation, .cart { 
				width: 80% !important; 
				overflow: hidden;
				margin-left: 20pt;
				text-align: left;
			}
			.cart { clear: left; }
		}
	}
	
	.banner { display: none; }
	
	#content {
		.content-inner { 
			width: 100%;
			ul.product-collection {
				padding: 20pt 0;
				li {
					width: 100%;
					margin: 0 0 20pt 0;
					float: none !important;
					a.product-image {
						width: 100%;
						margin: 0 0 10pt 0;
						display: block;
						text-align: center;
						float: none;
					}
					div.product-details {
						float: none;
						width: 80%;
						padding: 0 10%;
						h3.product-name {
							margin: 0 0 10pt 0;
						}
						p.product-description {
							margin: 0 0 10pt 0;
						}
						p.product-price {
							margin: 0 0 20pt 0;
						}
					}
				}
			}
		}
	}
	
	.product-page {
		.content-inner { 
			width: 100%;
			overflow: hidden;	
			padding: 20pt 0;
		}
		.product-photos {
			width: 100%;
			float: none;
			margin: 0 0 10pt 0;
			.main { 
				margin: 0 0 5pt 0;
				img { width: 200pt;	}
			}
			ul {
				max-width: 324pt;
				padding: 8pt 0 0 8pt;
				li {
					margin: 0 8pt 5pt 0;
					img { width: 50pt; }
				}
			}
		}
		.product-content {
			width: 90%;
			padding: 0 5%;
			float: none;
			h2 {
				margin: 0 0 5pt 0;
				line-height: 1.2em;
			}
			.stock-levels {
				margin: 0 0 10pt 0;
				table {
					width: 180pt;
				}
			}
			.add-to-cart {
				margin: 0 0 20pt 0;
				.options {
					margin: 0 0 10pt 0;
					label { display: block; }
				}
				p.product-price-add {
					a {
						display: block;
						margin: 15pt 0 0 0;
						top: 0;
					}
				}
			}
		}
	}
	
	.page {
		.content-inner { 
			width: 90%;
			padding: 0 5%;
			padding: 20pt 0;
			font-size: 14pt;
			h2 {
				font-size: 22pt;
				margin: 0 0 10pt 0;
			}
			.entry {
				width: 100%;
				float: none;
				p { margin: 0 0 10pt 0; }
				ul {
					margin: 0 0 10pt 30pt;
				}
				h3 {
					font-size: 16pt;
					margin: 15pt 0 8pt 0;
					padding: 8pt 0 0 0;
				}
			}
		}
	}
	
	
	
	.cart {
		.content-inner { 
			width: 90%;
			padding: 0 5%;
			padding: 20pt 0;
		}
		table {
			width: 100%;
			margin: 0 0 15pt 0;
			td, th { 
				padding: 6pt 2pt;
				font-size: 10pt !important;
			}
			td.pic img { display: none; }
			td.pic { width: 1px; padding: 0; }
			td {
				input[type=text] {
					width: 15pt;
					padding: 2pt;
				}
			}
		}
		.checkout {
			width: 100%;
			a.checkout-button {
				font-size: 20pt;
				margin: 0 0 10pt 0;
				padding: 8pt 20pt;
			}
		}
	}
	
	
	
	
	#footer {
		height: auto;
		.content-inner {
			width: 80%;
			padding-bottom: 30pt;
			background-image: none;
			.contact-info, .store-info { 
				width: 100%;
				float: none;
				text-align: left !important;
			}
		}
	}

}
