/*  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
			MOBILE STYLES
		++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media only screen and (min-device-width : 320px) and (max-device-width : 569px) {
  .header {
    height: auto;
    padding: 20pt 0; }
    .header .content-inner {
      width: 100%; }
      .header .content-inner h1, .header .content-inner ul.navigation, .header .content-inner .cart {
        position: relative !important;
        top: auto !important;
        left: auto !important;
        right: auto !important; }
      .header .content-inner h1 {
        margin: 0 0 20pt 20pt; }
      .header .content-inner ul.navigation {
        margin-bottom: 20pt; }
      .header .content-inner ul.navigation, .header .content-inner .cart {
        width: 80% !important;
        overflow: hidden;
        margin-left: 20pt;
        text-align: left; }
      .header .content-inner .cart {
        clear: left; }

  #content .content-inner {
    width: 100%; }
    #content .content-inner ul.product-collection {
      padding: 20pt 0; }
      #content .content-inner ul.product-collection li {
        width: 100%;
        margin: 0 0 20pt 0;
        float: none !important; }
        #content .content-inner ul.product-collection li a.product-image {
          width: 100%;
          margin: 0 0 10pt 0;
          display: block;
          text-align: center;
          float: none; }
        #content .content-inner ul.product-collection li div.product-details {
          float: none;
          width: 80%;
          padding: 0 10%; }
          #content .content-inner ul.product-collection li div.product-details h3.product-name {
            margin: 0 0 10pt 0; }
          #content .content-inner ul.product-collection li div.product-details p.product-description {
            margin: 0 0 10pt 0; }
          #content .content-inner ul.product-collection li div.product-details p.product-price {
            margin: 0 0 20pt 0; }

  .banner {
    display: none; }

  #footer {
    height: auto; }
    #footer .content-inner {
      width: 80%;
      padding-bottom: 30pt;
      background-image: none; }
      #footer .content-inner .contact-info, #footer .content-inner .store-info {
        width: 100%;
        float: none;
        text-align: left !important; } }
