/******************************************************************************/
/* ERIC MEYER'S CSS RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/******************************************************************************/
/* SASS HELPER */
/******************************************************************************/
/* SITE WIDE STUFF */
body {
  background: url(bg-page.gif); }

/******************************************************************************/
/* HEADER */
.header {
  width: 100%;
  height: 164px;
  background: #2f292b url(bg-header.gif); }
  .header .content-inner {
    width: 1000px;
    margin: 0 auto;
    position: relative; }
  .header h1, .header h1 a {
    width: 193px;
    height: 77px; }
  .header h1 {
    position: absolute;
    top: 42px;
    left: 0;
    text-indent: -9999px; }
    .header h1 a {
      display: block;
      background: url(logo.gif); }
  .header ul.navigation {
    font-family: "Din Display Pro Medium", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 73px;
    left: 250px;
    text-transform: uppercase;
    letter-spacing: 0.2em; }
    .header ul.navigation li {
      float: left;
      font-size: 14px;
      font-weight: normal;
      margin-right: 40px; }
      .header ul.navigation li a {
        color: #D095B8;
        text-decoration: none; }
      .header ul.navigation li a:hover {
        color: #79E1F0; }
  .header .cart {
    position: absolute;
    top: 30px;
    right: 30px; }

/******************************************************************************/
/* HOMEPAGE BANNER */
.banner {
  width: 100%;
  height: 350px;
  background: #79e1f0 url(bg-banner.gif); }
  .banner .content-inner {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 260px;
    padding: 90px 0 0 0;
    background: url(dirtygirl.jpg) no-repeat top right; }
    .banner .content-inner h2, .banner .content-inner p {
      width: 440px;
      text-align: center;
      color: #0E2A2E; }
    .banner .content-inner h2 {
      font-family: "Din Display Pro Bold", Helvetica, Arial, sans-serif;
      font-size: 34px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding: 70px 0 0 0;
      margin: 0 0 20px 0;
      background: url(bird-blue.gif) no-repeat top center; }
    .banner .content-inner p {
      font-family: Georgia, Times, serif;
      font-style: italic;
      font-size: 15px;
      color: #234F55; }

/******************************************************************************/
/* MAIN CONTENT AREA */
#content .content-inner {
  width: 1000px;
  margin: 0 auto;
  position: relative; }
#content ul.product-collection {
  padding: 50px 0; }
  #content ul.product-collection li {
    width: 490px;
    overflow: hidden;
    margin: 0 0 50px 0;
    float: left; }
    #content ul.product-collection li:nth-child(2n) {
      float: right; }
    #content ul.product-collection li a.product-image {
      width: 170px;
      float: left;
      margin-right: 20px; }
    #content ul.product-collection li h2.product-name {
      font-family: "Din Display Pro", Helvetica, Arial, sans-serif;
      font-size: 16px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      margin: 30px 0 10px 0; }
      #content ul.product-collection li h2.product-name a {
        color: #0E2A2E;
        text-decoration: none; }
    #content ul.product-collection li p.product-description,
    #content ul.product-collection li p.product-price {
      font-family: Georgia, Times, serif; }
    #content ul.product-collection li p.product-description {
      font-size: 14px;
      line-height: 1.6em;
      color: #0E2A2E;
      margin: 0 0 10px 0; }
    #content ul.product-collection li p.product-price {
      font-size: 30px;
      margin: 0 0 20px 0; }
