/******************************************************************************/
/* ERIC MEYER'S CSS RESET */

	html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/******************************************************************************/
/* SASS HELPERS */

	@mixin headings { 
		font-family: "Din Display Pro Bold", Helvetica, Arial, sans-serif;
		text-transform: uppercase;	
		letter-spacing: 0.2em;
		}
		
	@mixin sans { font-family: "Din Display Pro", Helvetica, Arial, sans-serif; }
	@mixin serif { font-family: "chaparral-pro", Georgia, Times, serif; }

	@mixin content-inner {
		width: 1000px;
		margin: 0 auto;
		position: relative;
	}
	
	@mixin border-radius($radius) {
		-webkit-border-radius: $radius;
		-moz-border-radius: $radius;
		border-radius: $radius;
	}
	
	@mixin bodylinks {
		color: #D095B8;
		text-decoration: none;
		border-bottom: 1px solid #F9DCE9;
		&:hover {
			border-bottom: 1px solid #D095B8;
		}
	}
	
	@mixin button($color, $background, $gradientTop, $gradientBottom, $borderBottom) {
		@include headings;
		text-decoration: none;
		letter-spacing: 0.2em;
	  display: inline-block;
	  padding: 4px 10px 4px;
	  margin-bottom: 0;
	  font-size: 13px;
	  line-height: 18px;
	  text-align: center;
	  vertical-align: middle;
	  border: 1px solid #ccc;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	  cursor: pointer;
	  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	  *margin-left: .3em;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	  color: $color;
	  background-color: $background;
	  background-image: -moz-linear-gradient(top, $gradientTop, $gradientBottom);
	  background-image: -ms-linear-gradient(top, $gradientTop, $gradientBottom);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($gradientTop), to($gradientBottom));
	  background-image: -webkit-linear-gradient(top, $gradientTop, $gradientBottom);
	  background-image: -o-linear-gradient(top, $gradientTop, $gradientBottom);
	  background-image: linear-gradient(top, $gradientTop, $gradientBottom);
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradientTop', endColorstr='$gradientBottom', GradientType=0);
	  border-color: $gradientBottom $gradientBottom $borderBottom;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
		&:hover {
		  text-decoration: none;
		  background-color: $gradientBottom;
		  background-position: 0 -15px;
		  -webkit-transition: background-position 0.1s linear;
		  -moz-transition: background-position 0.1s linear;
		  -ms-transition: background-position 0.1s linear;
		  -o-transition: background-position 0.1s linear;
		  transition: background-position 0.1s linear;
		}
	}


/******************************************************************************/
/* SITE WIDE STUFF */

	body { background: url(bg-page.gif); }


/******************************************************************************/
/* HEADER */

	.header {
		width: 100%;
		height: 164px;
		background: #2F292B url(bg-header.gif);
		.content-inner { @include content-inner; }
		h1, h1 a {
			width: 193px;
			height: 77px;
		}
		h1 {
			position: absolute;
			top: 42px;
			left: 0;
			text-indent: -9999px;
			a { 
				display: block;
				background: url(logo.gif);	
			}
		}
		ul.navigation {
			@include headings;
			position: absolute;
			top: 73px;
			left: 250px;
			li {
				float: left;
				font-size: 14px;
				font-weight: normal;
				margin-right: 40px;
				a { color: #D095B8; text-decoration: none; }
				a:hover { color: #79E1F0; }
			}
		}
		.cart {
			@include headings;
			color: #FFF;
			text-align: right;
			font-size: 14px;
			position: absolute;
			top: 73px;
			right: 30px;
			width: 300px;
			a { text-decoration: none; color: #79E1F0; }
			a:hover { color: #D095B8; }
		}
	}


/******************************************************************************/
/* HOMEPAGE BANNER */

	.banner {
		width: 100%;
		height: 350px;
		background: #79E1F0 url(bg-banner.gif);
		.content-inner { 
			@include content-inner;
			height: 260px;
			padding: 90px 0 0 0;
			background: url(dirtygirl.jpg) no-repeat top right;
			h2, p {
				width: 500px;
				text-align: center;
				color: #0E2A2E;
			}
			h2 {
				@include headings;
				font-size: 34px;
				padding: 70px 0 0 0;
				margin: 0 0 20px 0;
				background: url(bird-blue.gif) no-repeat top center;
			}
			p {
				font-family: Georgia, Times, serif;
				font-style: italic;
				font-size: 15px;
				color: #234F55;
			}
		}
	}


/******************************************************************************/
/* HOMEPAGE */

	#content {
		.content-inner { 
			@include content-inner;
			overflow: hidden;	
		}
		ul.product-collection {
			padding: 70px 0;
			li {
				width: 490px;
				overflow: hidden;
				margin: 0 0 70px 0;
				float: left;
				clear: both;
				&:nth-child(2n) { 
					float: right;
					clear: none;	
				}
				a.product-image {
					width: 220px;
					float: left;
					margin-right: 20px;
				}
				div.product-details {
					float: right;
					width: 245px;
					h3.product-name {
						@include sans;
						font-size: 16px;
						letter-spacing: 0.2em;
						text-transform: uppercase;
						margin: 30px 0 10px 0;
						a { color: #0E2A2E; text-decoration: none; }
					}
					p.product-description,
					p.product-price  { @include serif; }
					p.product-description {
						font-size: 16px;
						line-height: 1.6em;
						color: #0E2A2E;
						margin: 0 0 10px 0;
						a { @include bodylinks; }
					}
					p.product-price {
						font-size: 30px;
						margin: 0 0 20px 0;
					}
					p.product-add a {
						@include button(#FFF, #5bb75b, #62c462, #51a351, #387038);
					}
				}
			}
		}
	}
	
	
/******************************************************************************/
/* COLLECTION PAGES */

	.collection {
		.content-inner { 
			padding-top: 70px;
			h2 {
				@include headings;
				color: #72D4E2;
				font-size: 34px;
				margin: 0 0 20px 0;
				text-align: center;
				a { @include bodylinks; }
			}
			.collection-description {
				@include serif;
				font-size: 20px;
				text-align: center;
			}
		}
	}
	
	.listing {
		.content-inner { 
			padding: 70px 0;
			ul {
				@include serif;
				font-size: 20px;
				text-align: center;
				a { @include bodylinks; }
			}
		}
	}



/******************************************************************************/
/* REGULAR PAGES */

	.page {
		.content-inner { 
			@include content-inner;
			overflow: hidden;	
			padding: 70px 0;
			@include serif;
			font-size: 19px;
			h2 {
				@include headings;
				color: #72D4E2;
				font-size: 34px;
				margin: 0 0 20px 0;
			}
			.entry {
				width: 700px;
				float: left;
				line-height: 1.4em;
				p { margin: 0 0 15px 0; }
				ul {
					list-style: square;
					margin: 0 0 15px 30px;
				}
				a { @include bodylinks; }
				strong { font-weight: bold; }
				em { font-style: italic; }
				h3 {
					text-transform: uppercase;
					font-size: 20px;
					font-weight: bold;
					letter-spacing: 0.3em;
					margin: 20px 0 10px 0;
					padding: 10px 0 0 0;
					border-top: 1px solid #EEE;
				}
			}
		}
	}
	
	
/******************************************************************************/
/* PRODUCT PAGE */

	$stockborder: 1px solid #CCC;

	.product-page {
		.content-inner { 
			@include content-inner;
			overflow: hidden;	
			padding: 70px 0;
		}
		.product-photos {
			width: 480px;
			float: left;
			text-align: center;
			.main { margin: 0 0 20px 0; }
			ul {
				max-width: 324px;
				margin: 0 auto;
				padding: 8px 0 0 8px;
				list-style: none;
				border: 1px solid #CCC;
				@include border-radius(5px);
				background: #EEE;
				overflow: hidden;
				display: inline-block;
				li {
					float: left;
					margin: 0 8px 5px 0;
				}
			}
		}
		.product-content {
			width: 495px;
			float: right;
			overflow: hidden;
			@include serif;
			font-size: 18px;
			line-height: 1.3em;
			h2 {
				@include headings;
				font-size: 28px;
				margin: 0 0 20px 0;
			}
			.description {
				margin: 0 0 20px 0;
				p { margin: 0 0 8px 0; }
				ul { 
					list-style: square;
					color: #6E7F82;
					margin-left: 20px;
				}
			}
			.stock-levels {
				margin: 0 0 20px 0;
				h3 {
					text-transform: uppercase;
					font-size: 15px;
					letter-spacing: 0.2em;
				}
				table {
					font-size: 15px;
					width: 180px;
					border-top: $stockborder;
					border-left: $stockborder;
					td {
						color: #78888A;
						padding: 3px 10px;
						border-bottom: $stockborder;
						border-right: $stockborder;
						&.stock-title { background: #F6F7F7; }
					}
				}
			}
			.add-to-cart {
				margin: 0 0 70px 0;
				.options {
					font-size: 18px;
					margin: 0 0 15px 0;
					select { font-size: 16px ; }
				}
				p.product-price-add {
					font-size: 42px;
					margin: 0 0 15px 0;
					a {
						@include button(#FFF, #5bb75b, #62c462, #51a351, #387038);
						font-size: 20px;
						padding: 8px 20px;
						position: relative;
						top: -5px;
					}
				}
			}
		}
		.see-more a { @include bodylinks; }
	}


/******************************************************************************/
/* CART */

	.cart {
		table {
			width: 700px;
			margin: 0 0 30px 0;
			td, th { 
				padding: 25px 5px;
				vertical-align: middle;
			}
			th {
				font-size: 15px;
				text-transform: uppercase;
				letter-spacing: 0.2em;
				border-bottom: 1px solid #666;
				padding-top: 0;
			}
			td {
				border-bottom: 1px solid #CCC;
				&.price, &.quantity, &.total, &.remove { text-align: center; }
				input[type=text] {
					width: 25px;
					padding: 5px;
					text-align: center;
				}
				a { @include bodylinks; }
				&.pic a { border-bottom: none; }
			}
			tr.total {
				td { border-bottom: 1px solid #666; }
				td.padding-row { border-bottom: none; }
				td.quantity a { 
					@include button(#333, #f5f5f5, #ffffff, #e6e6e6, #bfbfbf);
					text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
				}
				.grand-total { text-align: center; }
			}
		}
		.checkout {
			width: 700px;
			text-align: right;
			a.checkout-button {
				@include button(#FFF, #5bb75b, #62c462, #51a351, #387038);
				font-size: 20px;
				margin: 0 0 20px 0;
				padding: 8px 20px;
			}
			.checkout-info {
				font-size: 14px;
				color: #CCC;
			}
		}
		.empty {
			a { @include bodylinks; }
		}
	}



/******************************************************************************/
/* FOOTER */

	#footer {
		height: 285px;
		background: #2F292B url(bg-header.gif);
		.content-inner { 
			@include content-inner;
			background: url(bird-brown.gif) no-repeat center center;
			overflow: hidden;
			.contact-info,
			.store-info {
				line-height: 1.5em;
				padding: 60px 0 0 0;
				h2 {
					@include headings;
					color: #9A9A9A;
					margin: 0 0 15px 0;
				}
				ul {
					@include serif;
					opacity: 0.8;
					font-size: 16px;
					color: #E6E6E6;
					list-style: none;
					a { color: #FFF; text-decoration: none; border-bottom: 1px solid #494647; }
					a:hover { border-bottom: 1px solid #FFF; }
				}
			}
			.contact-info { float: left; }
			.store-info {
				float: right;
				text-align: right;
			}
		}
	}







