/******************************************************************************/
/* ERIC MEYER'S CSS RESET */

	html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/******************************************************************************/
/* SASS HELPER */

	@mixin headings { font-family: "Din Display Pro Bold", Helvetica, Arial, sans-serif; }
	@mixin sans { font-family: "Din Display Pro", Helvetica, Arial, sans-serif; }
	@mixin serif { font-family: "chaparral-pro", Georgia, Times, serif; }

	@mixin content-inner {
		width: 1000px;
		margin: 0 auto;
		position: relative;
	}


/******************************************************************************/
/* SITE WIDE STUFF */

	body {
		background: url(bg-page.gif);
		}


/******************************************************************************/
/* HEADER */

	.header {
		width: 100%;
		height: 164px;
		background: #2F292B url(bg-header.gif);
		.content-inner { @include content-inner; }
		h1, h1 a {
			width: 193px;
			height: 77px;
		}
		h1 {
			position: absolute;
			top: 42px;
			left: 0;
			text-indent: -9999px;
			a { 
				display: block;
				background: url(logo.gif);	
			}
		}
		ul.navigation {
			font-family: "Din Display Pro Medium", Helvetica, Arial, sans-serif;
			position: absolute;
			top: 73px;
			left: 250px;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			li {
				float: left;
				font-size: 14px;
				font-weight: normal;
				margin-right: 40px;
				a { color: #D095B8; text-decoration: none; }
				a:hover { color: #79E1F0; }
			}
		}
		.cart {
			position: absolute;
			top: 30px;
			right: 30px;
		}
	}


/******************************************************************************/
/* HOMEPAGE BANNER */

	.banner {
		width: 100%;
		height: 350px;
		background: #79E1F0 url(bg-banner.gif);
		.content-inner { 
			@include content-inner;
			height: 260px;
			padding: 90px 0 0 0;
			background: url(dirtygirl.jpg) no-repeat top right;
			h2, p {
				width: 440px;
				text-align: center;
				color: #0E2A2E;
			}
			h2 {
				@include headings;
				font-size: 34px;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				padding: 70px 0 0 0;
				margin: 0 0 20px 0;
				background: url(bird-blue.gif) no-repeat top center;
			}
			p {
				font-family: Georgia, Times, serif;
				font-style: italic;
				font-size: 15px;
				color: #234F55;
			}
		}
	}


/******************************************************************************/
/* MAIN CONTENT AREA */

	#content {
		.content-inner { @include content-inner; }
		ul.product-collection {
			padding: 70px 0;
			li {
				width: 490px;
				overflow: hidden;
				margin: 0 0 70px 0;
				float: left;
				&:nth-child(2n) { float: right; }
				a.product-image {
					width: 220px;
					float: left;
					margin-right: 20px;
				}
				div.product-details {
					float: right;
					width: 245px;
					h2.product-name {
						@include sans;
						font-size: 16px;
						letter-spacing: 0.2em;
						text-transform: uppercase;
						margin: 10px 0 10px 0;
						a { color: #0E2A2E; text-decoration: none; }
					}
					p.product-description,
					p.product-price  { @include serif; }
					p.product-description {
						font-size: 16px;
						line-height: 1.6em;
						color: #0E2A2E;
						margin: 0 0 10px 0;
						a { color: #D095B8; text-decoration: none; }
						a:hover { color: #000; }
					}
					p.product-price {
						font-size: 30px;
						margin: 0 0 20px 0;
					}
					p.product-add a {
						@include headings;
						text-decoration: none;
						text-transform: uppercase;
						letter-spacing: 0.2em;
					  display: inline-block;
					  padding: 4px 10px 4px;
					  margin-bottom: 0;
					  font-size: 13px;
					  line-height: 18px;
					  color: #333333;
					  text-align: center;
					  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
					  vertical-align: middle;
					  background-color: #f5f5f5;
					  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
					  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
					  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
					  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
					  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
					  background-image: linear-gradient(top, #ffffff, #e6e6e6);
					  background-repeat: repeat-x;
					  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
					  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
					  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
					  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
					  border: 1px solid #ccc;
					  border-bottom-color: #bbb;
					  -webkit-border-radius: 4px;
					  -moz-border-radius: 4px;
					  border-radius: 4px;
					  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
					  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
					  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
					  cursor: pointer;
					  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
					  *margin-left: .3em;
					  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
					  color: #ffffff;
					  background-color: #5bb75b;
					  background-image: -moz-linear-gradient(top, #62c462, #51a351);
					  background-image: -ms-linear-gradient(top, #62c462, #51a351);
					  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
					  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
					  background-image: -o-linear-gradient(top, #62c462, #51a351);
					  background-image: linear-gradient(top, #62c462, #51a351);
					  background-repeat: repeat-x;
					  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
					  border-color: #51a351 #51a351 #387038;
					  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
					  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
						
						&:hover {
						  color: #FFF;
						  text-decoration: none;
						  background-color: #51a351;
						  background-position: 0 -15px;
						  -webkit-transition: background-position 0.1s linear;
						  -moz-transition: background-position 0.1s linear;
						  -ms-transition: background-position 0.1s linear;
						  -o-transition: background-position 0.1s linear;
						  transition: background-position 0.1s linear;
						}
					}
				}
			}
		}
	}









