/******************************************************************************/
/* ERIC MEYER'S CSS RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/******************************************************************************/
/* SASS HELPER */
/******************************************************************************/
/* SITE WIDE STUFF */
body {
  background: url(bg-page.gif); }

/******************************************************************************/
/* HEADER */
.header {
  width: 100%;
  height: 164px;
  background: #2f292b url(bg-header.gif); }
  .header .content-inner {
    width: 1000px;
    margin: 0 auto;
    position: relative; }
  .header h1, .header h1 a {
    width: 193px;
    height: 77px; }
  .header h1 {
    position: absolute;
    top: 42px;
    left: 0;
    text-indent: -9999px; }
    .header h1 a {
      display: block;
      background: url(logo.gif); }
  .header ul.navigation {
    font-family: "Din Display Pro Bold", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 73px;
    left: 250px;
    text-transform: uppercase;
    letter-spacing: 0.2em; }
    .header ul.navigation li {
      float: left;
      font-size: 14px;
      font-weight: normal;
      margin-right: 40px; }
      .header ul.navigation li a {
        color: #D095B8;
        text-decoration: none; }
      .header ul.navigation li a:hover {
        color: #79E1F0; }
  .header .cart {
    font-family: "Din Display Pro Bold", Helvetica, Arial, sans-serif;
    color: #FFF;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 0.2em;
    font-size: 14px;
    position: absolute;
    top: 73px;
    right: 30px;
    width: 300px; }
    .header .cart a {
      text-decoration: none;
      color: #79E1F0; }
    .header .cart a:hover {
      color: #D095B8; }

/******************************************************************************/
/* HOMEPAGE BANNER */
.banner {
  width: 100%;
  height: 350px;
  background: #79e1f0 url(bg-banner.gif); }
  .banner .content-inner {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 260px;
    padding: 90px 0 0 0;
    background: url(dirtygirl.jpg) no-repeat top right; }
    .banner .content-inner h2, .banner .content-inner p {
      width: 440px;
      text-align: center;
      color: #0E2A2E; }
    .banner .content-inner h2 {
      font-family: "Din Display Pro Bold", Helvetica, Arial, sans-serif;
      font-size: 34px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding: 70px 0 0 0;
      margin: 0 0 20px 0;
      background: url(bird-blue.gif) no-repeat top center; }
    .banner .content-inner p {
      font-family: Georgia, Times, serif;
      font-style: italic;
      font-size: 15px;
      color: #234F55; }

/******************************************************************************/
/* MAIN CONTENT AREA */
#content .content-inner {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }
#content ul.product-collection {
  padding: 70px 0; }
  #content ul.product-collection li {
    width: 490px;
    overflow: hidden;
    margin: 0 0 70px 0;
    float: left;
    clear: both; }
    #content ul.product-collection li:nth-child(2n) {
      float: right;
      clear: none; }
    #content ul.product-collection li a.product-image {
      width: 220px;
      float: left;
      margin-right: 20px; }
    #content ul.product-collection li div.product-details {
      float: right;
      width: 245px; }
      #content ul.product-collection li div.product-details h2.product-name {
        font-family: "Din Display Pro", Helvetica, Arial, sans-serif;
        font-size: 16px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        margin: 10px 0 10px 0; }
        #content ul.product-collection li div.product-details h2.product-name a {
          color: #0E2A2E;
          text-decoration: none; }
      #content ul.product-collection li div.product-details p.product-description,
      #content ul.product-collection li div.product-details p.product-price {
        font-family: "chaparral-pro", Georgia, Times, serif; }
      #content ul.product-collection li div.product-details p.product-description {
        font-size: 16px;
        line-height: 1.6em;
        color: #0E2A2E;
        margin: 0 0 10px 0; }
        #content ul.product-collection li div.product-details p.product-description a {
          color: #D095B8;
          text-decoration: none; }
        #content ul.product-collection li div.product-details p.product-description a:hover {
          color: #000; }
      #content ul.product-collection li div.product-details p.product-price {
        font-size: 30px;
        margin: 0 0 20px 0; }
      #content ul.product-collection li div.product-details p.product-add a {
        font-family: "Din Display Pro Bold", Helvetica, Arial, sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        display: inline-block;
        padding: 4px 10px 4px;
        margin-bottom: 0;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #ccc;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        cursor: pointer;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        *margin-left: .3em;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        color: #ffffff;
        background-color: #5bb75b;
        background-image: -moz-linear-gradient(top, #62c462, #51a351);
        background-image: -ms-linear-gradient(top, #62c462, #51a351);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
        background-image: -webkit-linear-gradient(top, #62c462, #51a351);
        background-image: -o-linear-gradient(top, #62c462, #51a351);
        background-image: linear-gradient(top, #62c462, #51a351);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradientTop', endColorstr='$gradientBottom', GradientType=0);
        border-color: #51a351 #51a351 #387038;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
        #content ul.product-collection li div.product-details p.product-add a:hover {
          text-decoration: none;
          background-color: #51a351;
          background-position: 0 -15px;
          -webkit-transition: background-position 0.1s linear;
          -moz-transition: background-position 0.1s linear;
          -ms-transition: background-position 0.1s linear;
          -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear; }

/******************************************************************************/
/* REGULAR PAGES */
.page .content-inner {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 70px 0;
  font-family: "chaparral-pro", Georgia, Times, serif;
  font-size: 19px; }
  .page .content-inner h2 {
    font-family: "Din Display Pro Bold", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #72D4E2;
    font-size: 34px;
    margin: 0 0 20px 0; }
  .page .content-inner .entry {
    width: 700px;
    float: left;
    line-height: 1.4em; }
    .page .content-inner .entry p {
      margin: 0 0 15px 0; }
    .page .content-inner .entry ul {
      list-style: square;
      margin: 0 0 15px 30px; }
    .page .content-inner .entry a {
      color: #5BAAB5;
      text-decoration: none;
      border-bottom: 1px solid #72D4E2; }
    .page .content-inner .entry a:hover {
      color: #000; }
    .page .content-inner .entry strong {
      font-weight: bold; }
    .page .content-inner .entry em {
      font-style: italic; }

/******************************************************************************/
/* PRODUCT PAGE */
.product-page .content-inner {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 70px 0; }
.product-page .product-photos {
  width: 480px;
  float: left;
  text-align: center; }
  .product-page .product-photos .main {
    margin: 0 0 20px 0; }
  .product-page .product-photos ul {
    max-width: 324px;
    margin: 0 auto;
    padding: 8px 0 0 8px;
    list-style: none;
    border: 1px solid #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #EEE;
    overflow: hidden;
    display: inline-block; }
    .product-page .product-photos ul li {
      float: left;
      margin: 0 8px 5px 0; }
.product-page .product-content {
  width: 495px;
  float: right;
  overflow: hidden;
  font-family: "chaparral-pro", Georgia, Times, serif;
  font-size: 18px;
  line-height: 1.3em; }
  .product-page .product-content h2 {
    font-family: "Din Display Pro Bold", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 28px;
    margin: 0 0 20px 0; }
  .product-page .product-content .description {
    margin: 0 0 20px 0; }
    .product-page .product-content .description p {
      margin: 0 0 8px 0; }
    .product-page .product-content .description ul {
      list-style: square;
      color: #6E7F82;
      margin-left: 20px; }
  .product-page .product-content .stock-levels {
    margin: 0 0 20px 0; }
    .product-page .product-content .stock-levels h3 {
      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: 0.2em; }
    .product-page .product-content .stock-levels table {
      font-size: 15px;
      width: 180px;
      border-top: 1px solid #cccccc;
      border-left: 1px solid #cccccc; }
      .product-page .product-content .stock-levels table td {
        color: #78888A;
        padding: 3px 10px;
        border-bottom: 1px solid #cccccc;
        border-right: 1px solid #cccccc; }
        .product-page .product-content .stock-levels table td.stock-title {
          background: #F6F7F7; }
  .product-page .product-content .add-to-cart {
    margin: 0 0 70px 0; }
    .product-page .product-content .add-to-cart .options {
      font-size: 18px;
      margin: 0 0 15px 0; }
      .product-page .product-content .add-to-cart .options select {
        font-size: 24px; }
    .product-page .product-content .add-to-cart p.product-price-add {
      font-size: 42px;
      margin: 0 0 15px 0; }
      .product-page .product-content .add-to-cart p.product-price-add a {
        font-family: "Din Display Pro Bold", Helvetica, Arial, sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        display: inline-block;
        padding: 4px 10px 4px;
        margin-bottom: 0;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #ccc;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        cursor: pointer;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        *margin-left: .3em;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        color: #ffffff;
        background-color: #5bb75b;
        background-image: -moz-linear-gradient(top, #62c462, #51a351);
        background-image: -ms-linear-gradient(top, #62c462, #51a351);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
        background-image: -webkit-linear-gradient(top, #62c462, #51a351);
        background-image: -o-linear-gradient(top, #62c462, #51a351);
        background-image: linear-gradient(top, #62c462, #51a351);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradientTop', endColorstr='$gradientBottom', GradientType=0);
        border-color: #51a351 #51a351 #387038;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        top: -3px;
        font-size: 20px;
        padding: 8px 20px;
        position: relative;
        top: -5px; }
        .product-page .product-content .add-to-cart p.product-price-add a:hover {
          text-decoration: none;
          background-color: #51a351;
          background-position: 0 -15px;
          -webkit-transition: background-position 0.1s linear;
          -moz-transition: background-position 0.1s linear;
          -ms-transition: background-position 0.1s linear;
          -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear; }
.product-page .see-more a {
  color: #D095B8;
  text-decoration: none; }
.product-page .see-more a:hover {
  color: #000; }

/******************************************************************************/
/* FOOTER */
#footer {
  height: 285px;
  background: #2f292b url(bg-header.gif); }
  #footer .content-inner {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    background: url(bird-brown.gif) no-repeat center center;
    overflow: hidden; }
    #footer .content-inner .contact-info,
    #footer .content-inner .store-info {
      line-height: 1.5em;
      padding: 60px 0 0 0; }
      #footer .content-inner .contact-info h2,
      #footer .content-inner .store-info h2 {
        font-family: "Din Display Pro Bold", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #9A9A9A;
        margin: 0 0 15px 0; }
      #footer .content-inner .contact-info ul,
      #footer .content-inner .store-info ul {
        font-family: "chaparral-pro", Georgia, Times, serif;
        opacity: 0.8;
        font-size: 16px;
        color: #E6E6E6;
        list-style: none; }
        #footer .content-inner .contact-info ul a,
        #footer .content-inner .store-info ul a {
          color: #FFF;
          text-decoration: none;
          border-bottom: 1px solid #494647; }
        #footer .content-inner .contact-info ul a:hover,
        #footer .content-inner .store-info ul a:hover {
          border-bottom: 1px solid #FFF; }
    #footer .content-inner .contact-info {
      float: left; }
    #footer .content-inner .store-info {
      float: right;
      text-align: right; }
