<div class="page">
	
	<div class="content-inner">

		<h2>404 Page Not Found</h2>
		
		<div class="entry">

			<p>The page you were looking for does not exist.</p>
		
			<p>Back to <a href="{{ shop.url }}">the homepage</a> or <a href="#" onClick="history.back(); return false;">the previous page</a>.</p>
			
		</div>

	</div>
	
</div>